{% extends 'base.html.twig' %}

{% block title %}
	Log in!
{% endblock %}

{% block body %}
	<form method="post" class="user">
		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		{% if app.user %}
			<div class="col-lg-6 mb-4">
				<div class="card bg-success text-white shadow">
					<div class="card-body">
						Vous êtes connectés : 
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-lg-6">
				<div class="p-5">
					<div class="text-center">
						<h1 class="h4 text-gray-900 mb-4">
							Connexion
						</h1>
					</div>
					<div class="form-group">
						<input type="email" value="{{ last_username }}" class="form-control form-control-user" id="inputEmail" name="email" aria-describedby="emailHelp" autocomplete="email" required autofocus placeholder="Enter Email Address..."/>
					</div>
					<div class="form-group">
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required/>
					</div>

					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

					<button class="btn btn-user btn-block btn-primary" type="submit">
						Connexion
					</button>
				</div>
			</div>
		</div>
	{% endblock %}
