<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </head>
    <body>
        <header>
            <nav class="navbar primary">
                <div class="navbar-menu">
                    <a class="navbar-link" href="{{ path('app_index') }}">Accueil</a>
                    <a class="navbar-link" href="{{ path('page1') }}">Page 1</a>
                    <a class="navbar-link" href={{ path('page2') }}>Page 2</a>
                </div>
                    <a class="navbar-link" href={{ path('app_register') }}>Register/</a><a class="navbar-link" href={{ path('app_login') }}>Login</a>
                <div class="navbar-menu">
                    <a class="navbar-link" href={{ path('connect_google') }}>Se coonecter avec Google</a>
                </div>
                {% if app.user %}
                    <a class="navbar-link" href={{ path('connect_google') }}>Logout</a>
                {% endif %}
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
